$my-primary: (
    50 : #e8eaf6,
    100 : #c5cbe9,
    200 : #9fa8da,
    300 : #7985cb,
    400 : #5c6bc0,
    500 : #3f51b5,
    600 : #394aae,
    700 : #3140a5,
    800 : #29379d,
    900 : #1b278d,
    A100 : #c6cbff,
    A200 : #939dff,
    A400 : #606eff,
    A700 : #4757ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-accent: (
    50 : #fff6e6,
    100 : #fee8c0,
    200 : #fdd996,
    300 : #fcca6b,
    400 : #fcbe4c,
    500 : #fbb32c,
    600 : #faac27,
    700 : #faa321,
    800 : #f99a1b,
    900 : #f88b10,
    A100 : #ffffff,
    A200 : #fff8f1,
    A400 : #ffdebe,
    A700 : #ffd1a5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-warn: (
    50 : #eff6e9,
    100 : #d7e9c7,
    200 : #bddaa2,
    300 : #a3cb7c,
    400 : #8fbf60,
    500 : #7bb444,
    600 : #73ad3e,
    700 : #68a435,
    800 : #5e9c2d,
    900 : #4b8c1f,
    A100 : #ddffc8,
    A200 : #bdff95,
    A400 : #9dff62,
    A700 : #8dff48,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
