<h1 class="text-center league mb-0 mt-4">F . &nbsp; A . &nbsp; Q .</h1>
<h4 class="text-center text-compact-xs pb-4">Preguntas Frecuentes</h4>
<perfect-scrollbar class="pr-3">
  <p class="text-center league mb-0">¿Qué son los Desafíos?</p>
  <p class="text-justify pb-2"> &nbsp; &nbsp;
    Son ejercicios de Básica y Fupro
    sobre los temas que dieron la semana pasada
    pensados para poner a prueba qué tanto entendieron los temas.
    Se los intenta armar con usos reales de lo que dieron.
  </p>

  <p class="text-center league mb-0 mt-4">¿Cómo participo?</p>
  <p class="text-justify pb-2"> &nbsp; &nbsp;
    Resolvé los problemas hasta donde podas,
    y mandame una foto con lo que hiciste.
  </p>

  <p class="text-center league mb-0 mt-4">¿Cuándo son?</p>
  <p class="text-justify pb-2"> &nbsp; &nbsp;
    Cada set de problemas es válido por una semana.
    Durante esa semana, me podes enviar la resolución
    en cualquier momento, es decir, resolves los desafíos
    cuando te sea más cómodo! Tenés tiempo hasta el martes
    a las 10hs, y se larga un nuevo set los martes a la tarde/noche.
  </p>

  <p class="text-center league mb-0 mt-4">¿Qué son los puntos?</p>
  <p class="text-justify pb-2">
    Según qué tan bien resuelvas los ejercicios,
    vas a ir sumando puntos y subiendo en el ranking
  </p>

  <p class="text-center league mb-0 mt-4">¿Para qué participar?</p>
  <p class="text-justify pb-2">
    Los desafíos son principalmente una instancia de autoevaluación.
    Si pueden completar los desafíos, significaría que entendieron los temas,
    por lo que les debería ir bien en los exámenes.
    Además, creo que haría un poco más llevadero el estudio
  </p>

  <p class="text-center league mb-0 mt-4">¡No me salen! Help!</p>
  <p class="text-justify pb-2">
    Los desafíos no están pensados para que todos puedan
    completar todas las consignas, sino no serían desafíos!
    (Sin embargo, siempre es posible hacerlos con lo que
    dieron hasta la semana previa al mismo).
    Así que no se maten si por más que intenten no pueden resolver algo
  </p>

  <p class="text-center league mb-0 mt-4">¿Puedo ver las respuestas?</p>
  <p class="text-justify pb-2">
    Si! Una vez vencido un set de problemas, se van a mostrar
    las soluciones en los grupos de estudio,
    y con cada desafío nuevo, se van a publicar las respuestas del anterior
  </p>
</perfect-scrollbar>
